NITRO_PRESET=
# TRPC SERVER URL
VITE_TRPC_URL="http://localhost:5000/trpc"
# POSTGRES VARIABLES
DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/DATABASENAME?schema=public"
DATABASE_NAME=MyDatabaseName
DATABASE_USER=MyUser
DATABASE_PASSWORD=MyPassword
# AUTH0 AUTHENTICATION VARIABLES
# NUXT_SECRET - run: 'openssl rand -base64 64' to create a new key
NUXT_SECRET=""
AUTH_ORIGIN="http://localhost:3000"
NUXT_AUTH0_CLIENT_ID=""
NUXT_AUTH0_CLIENT_SECRET=""
NUXT_AUTH0_ISSUER=""